@import url(https://fonts.googleapis.com/css?family=Lato:300,700);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.4em;
  font-size: 18px;
}

.paper-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.paper-toolbar {
  color: #fff;
  background: #3F51B5;
}

.app-bar, .navdrawer-container, main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.promote-layer {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 64px;
  position: relative;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
}

.app-bar {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.app-bar .title {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1.3em;
  margin: 0 8px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 400;
  line-height: 64px;
}

div.icon {
  width: 64px;
  height: 64px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: 12px;
  margin-top: 8px;
}

div.icon img {
  display: block;
  margin: auto auto;
}

.wrapper {
  height: 100%; 
  width: 100%; 
  position: fixed;
}

.left-panel {
  width: 20%;
  height: 100%;
  float: left;
  background-color: #fafafa;
}

.right-panel {
  width: 80%;
  height: 100%;
  float: left;
  text-align: center;
}

.content {
  float: left;
  font-size: 30px;
  padding: 64px;
  margin-left: 42px;
}

.option-wrapper {
}

.option-table {
  width: 250px;
  height: 300px;
  padding-top: 42px;
}

.action-table {
 width: 250px;
 height: 214px;
 padding-top: 42px; 
}

th, td {
  margin: 0 !important;
  padding: 18px !important; ;
}

tr[id^="list-cell-"]:hover td{
  background-color: #fff !important;
  cursor: pointer;
}

input {
  width: 250px;
  font-size: 24px;
  text-align: center;
}

tr[id^="option-cell"]:hover td{
  background-color: #5C6BC0 !important;
  cursor: pointer;
}

tr[id^="option-cell"]{
  color: white;
}

tr[id^="action-cell"]:hover td{
  background-color: #5C6BC0 !important;
  cursor: pointer;
}

tr[id^="action-cell"]{
  color: white;
}


.highlight {
  padding: 8px;
  border: 1px solid #C5CAE9;
  background-color: #E8EAF6;
}


