<!DOCTYPE html>
<html lang="en">
<head>

  <head>
<meta charset="UTF-8">
<title>Climate Frame</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1
  user-scalable=no">
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery_min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery_min.js') }}"></script>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap-theme.css')}}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font.css')}}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fontastic.css')}}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fontasticSupport.css')}}">
   <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.js')}}"></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/mainscript.js')}}"></script>
   <script type="text/javascript" src="{{ url_for('static',filename='js/userV0-1'.js)}}"></script>   
      
      
</head>
</head>
<body>
  <div id="page">
  <div id="header">
        
<header class="navbar navbar-static-top bs-docs-nav u_header" id="top" role="banner">
   
<div class="container">
   <button id="trigger" data-toggle="dropdown" class="u_n_button btn-navbar hidden-bar pull-right dropdown-toggle" type="button">
     <span class="glyphicon glyphicon-align-justify"></span>
  </button> 
        
   <a href="/" class=""><img style="width:5%; height:5%; padding-top:1%;" class="logo img col-sm-4" src="{{ url_for('static',filename='assets/logo_white.png')}}" alt="Cf logo"></a>   
  
   
  <nav class="coll navbar-collapse" role="navigation">
   <ul class="nav navbar navhide" id="navhide" style="display: none;">
     <li class="list">
        <a href="/">Pulse</a>       </li>
        <li class="list"><a href="/">Ubimet</a></li>
        <li class="list"><a href="/">Aweather</a></li>
        <li class="list"><a href="/">Earth Network</a></li>
        </ul>
       
 
       <ul class="nav navbar-nav navbar-right navbar-forhide">
        <li class="list">
        <a href="/">Pulse</a>       </li>
        <li class="list"><a href="/">Ubimet</a></li>
        <li class="list"><a href="/">Aweather</a></li>
        <li class="list"><a href="/">Earth Network</a></li>    </ul>
  </nav>
 </div>
      
</header>
        
        <div class="container">
  <div class="in">
        <div class="col-md-2 col-xs-offset-10 inbox-messages">
    
     
      <div class="message_wrapper">
      <div class="message_box">
      </div>
      </div>  
    </div>
  </div>
  </div>          </div>
  <div class="container">
   <div class="row">
  <ul class="">
  
         <div class="col-md-4 visible-md visible-lg s_row ">
    
             <div class="row user_photo">
                <h3> Welcome Mr. Abbas Kitogo </h3>
         </div>
         <div class="row user_nav" style="color:white;">

        <div class="list-group" style="color:white; font:120%">
        {% for api in data['apis'] %}

         <a href="/" class="list-group-item" style="background:#3C763D; color:white;     padding: 15px 20px 15px 20px;">
                <span class="glyphicon glyphicon-tower"></span> {{data['apis'][api]['name']}} </a>
    
        {% endfor %}                         
    
    <!--<a href="forum" class="list-group-item"><span class="glyphicon glyphicon-comment"></span> Forum</a>
    -->
     </div>    
      </div><!-- end of row for info -->

         </div>
   <!-- end of col-md-3 -->
   <div class="container visible-sm visible-xs s_row">
       
 <div class="visible-xs div_for_mobile">
  <div class="btn-group btn-group-justified">
         <div class="btn-group">
     <a href="/" class="list-group-item link_mobi ">
                       <span class="glyphicon glyphicon-folder-open"></span> Ubimet</a>
         </div>
         <div class="btn-group">
     <a href="/" class="list-group-item link_mobi ">
                    <span class="glyphicon glyphicon-calendar"></span>Aweather</a>
                   
         </div>
   
    </div>
   
    </div>
 </div>
       <div class="col-md-4 visible-md visible-lg new_row">
            <div class="date">

   <h3> If </h3>

 
  </div><!-- end of col-md-3 -->

 {% for api in data['apis'] %}
 <div id=" {{data['apis'][api]['name']}}">
  {% for trigger in api %}
 <div class="row">
  <a href="#" class="col-md-11 col-sm-10" style="    font: 120%;
    margin-left: 4%;
    padding: 10px;
    border-color: rgba(43, 107, 44, 0.25);
    border: 2px solid;
    border-radius:4px;
  color: #333;"> {{(data['apis'][api])}} </a>
</div>
<br>
 {% endfor %}  
</div>
    
 {% endfor %}                         

       </div>
<div class="col-md-4 visible-md visible-lg new_row">
            <div class="date">
<div class="">

   <h3> Then </h3>
 </div>

 
         </div>

 
<div class="">
<div class="row">
  <a href="/text" class="u_button col-md-11 col-sm-10" style="font:120%;margin-left:4%; padding:10px; background-color:#3C763D"> Send Message </a>
</div>
<br>
<div class="row">
<a href="/call" class="u_button col-md-11 col-sm-10" style="font:120%; margin-left:4%;padding:10px;"> Call </a>
</div>
</div><!-- end of col-md-3 -->

       </div><!-- end u_main_content -->

          </div>
      
         </div><!-- end of col-md-6 -->
         
           </div>
    
         
  
  <div class="content">
         <div class="u_footer navbar-bottom">
<div class="footer_content">
<div class="u_social">
<ul class=" nav u_footer_nav">

<div class="copyright">
<div class="container">
<div class="nav pull-right ">
<p id="copyText">©2016 Climate Frame</p>
</div>
</div>
</div>

</div>
        </div>
  
  <div class="hide" style="display:none;">
   
                                            </div>
 
</body>
  </html>